<!DOCTYPE html>
<html>
  {{template "htmlheader" .}}
  <body>
    {{template "header" .}}

    <div class="contents">
      <form class="inputform" action="/admin/teams/{{.Data.ID}}" method="post">
        {{if .ErrMessage }}
          <p class="errormsg">{{ .ErrMessage | safehtml }}</p>
        {{end}}
        <p class="input"><input type="text" name="name" value="{{.Data.Name}}" placeholder="チーム名" required></p>
        <p class="submit"><input type="submit" value="登録"></p>
      </form>
    </div>
  </body>
</html>
