<!DOCTYPE html>
<html>
  {{template "htmlheader" .}}
  <body>
    {{template "header" .}}

    <div class="contents">
      <form class="inputform" action="/settings/devices/{{.Data.DeviceID}}/avatar" method="post">
        {{if .ErrMessage }}
          <p class="errormsg">{{ .ErrMessage }}</p>
        {{end}}
        <p class="input">
          <select name="avatar">
            <option value="0">選択解除</option>
            {{range .Data.Avatars}}
              {{if eq .ID $.Data.AvatarID }}
                <option value="{{.ID}}" selected>{{.Name}}</option>
              {{else}}
                <option value="{{.ID}}">{{.Name}}</option>
              {{end}}
            {{end}}
          </select>
        </p>
        <p class="submit"><input type="submit" value="登録"></p>
      </form>
    </div>
  </body>
</html>
