<!DOCTYPE html>
<html>
  {{template "htmlheader" .}}
  <body>
    {{template "header" .}}

    <div class="contents">
      <form class="inputform" action="/settings/user/password" method="post">
        {{if .ErrMessage }}
          <p class="errormsg">{{ .ErrMessage }}</p>
        {{end}}
        <p class="input"><input type="password" name="password" placeholder="新しいパスワード" required></p>
        <p class="input"><input type="password" name="confirmpassword" placeholder="確認用の新しいパスワード" required></p>
        <p class="submit"><input type="submit" value="変更"></p>
      </form>
    </div>
  </body>
</html>
