{{define "header"}}
  <header>
    <nav class="topbar">
      <h1>Avatar Teleporter</h1>
      {{if .LoginUser}}
        <ul>
          <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
          <li><a href="#"><i class="material-icons">person</i>{{.LoginUser.Name}}</a>
            <ul class="popup">
              <li><a href="/settings/rooms">ルーム設定</a></li>
              <li><a href="/settings/contents">コンテンツ設定</a></li>
              <li><a href="/settings/devices">デバイス設定</a></li>
              <li><a href="/settings/user">ユーザー設定</a></li>
              {{if .LoginUser.Admin}}
                <li><a href="/admin/teams">チーム設定</a></li>
              {{end}}
              <li><a href="/logout">ログアウト</a></li>
            </ul>
          </li>
        </ul>
      {{end}}
    </nav>

    <nav class="titlebar">
      <h1>{{.Title}}</h1>

      {{if .PageCommands}}
        <ul>
          {{range .PageCommands}}
            <li><a href="{{.Path | safeurl}}">{{if .Icon}}<i class="material-icons">{{.Icon}}</i> {{end}}{{.Name}}</a></li>
          {{end}}
        </ul>
      {{end}}
    </nav>
  </header>
{{end}}
