<!DOCTYPE html>
<html>
  {{template "htmlheader" .}}
  <body>
    {{template "header" .}}

    <div class="contents">
      <form class="inputform" action="/settings/avatars/{{.Data.ID}}" method="post">
        {{if .ErrMessage }}
          <p class="errormsg">{{ .ErrMessage | safehtml }}</p>
        {{end}}
        <p class="input"><input type="text" name="name" value="{{.Data.Name}}" placeholder="アバター名" required></p>
        <p class="input">
          <select name="avatar_content">
            {{range .Data.Contents}}
              {{if eq .ID $.Data.AvatarContentID }}
                <option value="{{.ID}}" selected>{{.Name}}</option>
              {{else}}
                <option value="{{.ID}}">{{.Name}}</option>
              {{end}}
            {{end}}
          </select>
        </p>
        <p class="submit"><input type="submit" value="登録"></p>
      </form>
    </div>
  </body>
</html>
