<!DOCTYPE html>
<html>
  {{template "htmlheader" .}}
  <body>
    {{template "header" .}}

    <div class="contents">
      <h2 class="listtitle">動画</h2>
      {{if .Data.Videos}}
        <ul class="itemlist">
          {{range .Data.Videos}}
            <li>{{.Name}}
              <div class="right">
                <ul>
                  <li><a href="/settings/contents/{{.ID}}"><i class="material-icons">edit</i>編集</a></li>
                  <li><a href="/settings/contents/{{.ID}}/delete"><i class="material-icons">delete</i>削除</a></li>
                </ul>
              </div>
            </li>
          {{end}}
        </ul>
      {{end}}

      <h2 class="listtitle">静止画</h2>
      {{if .Data.Images}}
        <ul class="itemlist">
          {{range .Data.Images}}
            <li>{{.Name}}
              <div class="right">
                <ul>
                  <li><a href="/settings/contents/{{.ID}}"><i class="material-icons">edit</i>編集</a></li>
                  <li><a href="/settings/contents/{{.ID}}/delete"><i class="material-icons">delete</i>削除</a></li>
                </ul>
              </div>
            </li>
          {{end}}
        </ul>
      {{end}}

      <h2 class="listtitle">アバターモデル</h2>
      {{if .Data.Avatars}}
        <ul class="itemlist">
          {{range .Data.Avatars}}
            <li>{{.Name}}
              <div class="right">
                <ul>
                  <li><a href="/settings/contents/{{.ID}}"><i class="material-icons">edit</i>編集</a></li>
                  <li><a href="/settings/contents/{{.ID}}/delete"><i class="material-icons">delete</i>削除</a></li>
                </ul>
              </div>
            </li>
          {{end}}
        </ul>
      {{end}}
    </div>
  </body>
</html>
